* {
  text-align: center;
}
.header {
  padding: 20px;
  background: #383838;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.row{
  /*padding: 20px;*/
  background: #6A8A22;
  color: black;
  text-align: center;
}
.row button {
  height: 50px;
  width: 75px;
  border-radius: 10px;
  background: white;
  border: none
}
#newAnimal {
  display: block;
  margin: 40px auto;
  background: red;
  color: white;
}
label {
  color: white;
  font-family: serif
}
ul {
  list-style: none;
}
button {
  margin: 20px;
}
